/*************/
/**Utils**/
/*************/
/***Animation Menu***/
@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/***Loader***/
@keyframes bk {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    z-index: -2;
  }
}
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(360deg);
    opacity: 0;
    z-index: -1;
  }
}
/*************/
/****Base*****/
/*************/
* {
  font-family: "Roboto", sans-serif;
}

/***Body***/
body {
  background-color: #f6f6f6;
  margin: 0;
}

.main-container {
  box-sizing: border-box;
  min-width: 345px;
  display: flex;
  flex-direction: column;
}

/***Main***/
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*************/
/****Layout***/
/*************/
/**** Header ****/
.header {
  display: flex;
  flex-direction: column;
}
.header__title {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 63px;
  width: 100%;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  position: relative;
}
.header__title__logo img {
  width: 162px;
}
.header__title__icone-arrow {
  width: 17px;
  height: 16px;
  position: absolute;
  left: 17px;
  top: 23px;
}
.header__localisation {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-color: #eaeaea;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  gap: 5%;
}
@media (min-width: 1024px) {
  .header__localisation {
    gap: 1.5%;
  }
}
.header__localisation__icone .fa-solid {
  color: #000000;
}
.header__localisation p {
  margin: 0;
}

/****Footer****/
.footer {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: #353535;
  gap: 16px;
  padding: 22px 25px 22px 25px;
  box-sizing: border-box;
}
@media (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    height: 114px;
    padding: 25px 30px 25px 30px;
    align-items: end;
  }
}
.footer__title h1 {
  margin: 0;
  font-family: "Shrikhand";
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
  font-size: 18px;
}
.footer__text {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1024px) {
  .footer__text {
    flex-direction: row;
    width: 661px;
  }
}
.footer__text a {
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  flex-direction: row;
  gap: 3%;
  align-items: center;
}
@media (min-width: 1024px) {
  .footer__text a {
    display: inline;
  }
}

.fa-utensils,
.fa-handshake-angle {
  color: #ffffff;
  font-size: 12px;
  width: 11px;
}

/************/
/*Components*/
/************/
/*** Loader ***/
.loader {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: bk 3s ease-in forwards;
  -moz-animation: bk 3s ease-in forwards;
  /* Firefox */
  -webkit-animation: bk 3s ease-in forwards;
  /* Safari et Chrome */
  -o-animation: bk 3s ease-in forwards;
  /* Opera */
}
.loader__spinner {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid #9356dc; /* Couleur principale du loader */
  border-top-color: #ff79da; /* Couleur du dessus du loader */
  border-bottom-color: #99e2d0; /* Couleur bas du loader */
  z-index: 1;
  animation: spin 3000ms ease-in forwards;
  -moz-animation: spin 3000ms ease-in forwards;
  /* Firefox */
  -webkit-animation: spin 3000ms ease-in forwards;
  /* Safari et Chrome */
  -o-animation: spin 3000ms ease-in forwards;
  /* Opera */
}

.btn-dark-pink {
  width: 186px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(0deg, #9356dc, #ff79da);
  border-style: none;
  color: #ffffff;
  font-weight: 500;
}
.btn-dark-pink:hover {
  opacity: 75%;
}

/****Card des menus****/
.menu-card__content {
  background-color: #ffffff;
  border-radius: 15px;
  width: 349px;
  height: 69px;
  display: flex;
  flex-direction: row;
  box-shadow: 0px 4.01px 15.04px 0px rgba(0, 0, 0, 0.1019607843);
  overflow: hidden;
  transition: all 0.3s ease;
}
.menu-card__content:hover .menu-card__content__validate {
  width: 59px;
}
.menu-card__content:hover .menu-card__content__validate i {
  opacity: 1;
}
.menu-card__content:hover .menu-card__content__stick {
  width: calc(100% - 59px);
}
@media (min-width: 1024px) {
  .menu-card__content {
    width: 638px;
  }
}
.menu-card__content__stick {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 15px;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.menu-card__content__stick__title {
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-card__content__stick__title h3 {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: 500;
  font-size: 18px;
}
.menu-card__content__validate {
  width: 0px;
  height: 100%;
  background-color: #99e2d0;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.menu-card__content__validate i {
  color: #ffffff;
  width: 20px;
  height: 20px;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.menu-card__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.menu-card__text__presentation {
  font-weight: 300;
  font-size: 15px;
  width: calc(100% - 37px);
}
.menu-card__text__presentation p {
  margin: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu-card__text__tarif {
  width: 37px;
  height: 18px;
  text-align: center;
}

/****Card***/
.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}
.card__label {
  position: absolute;
  width: 80px;
  height: 29px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
  background-color: #99e2d0;
  color: #008766;
  top: 7px;
  right: 9px;
  align-content: center;
  text-align: center;
}
.card__label p {
  margin: 0;
  font-weight: 500;
}
.card__images {
  width: 100%;
  height: 70%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.card__content {
  display: flex;
  align-items: center;
  width: 100%;
  height: 30%;
  background-color: #ffffff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.card__content__txtandheart {
  position: relative;
  width: 100%;
}
.card__content__txtandheart__icon-heart {
  position: absolute;
  left: 300px;
}
@media (min-width: 1024px) {
  .card__content__txtandheart__icon-heart {
    left: 90%;
  }
}
.card__content__txtandheart__icon-heart img {
  width: 22px;
  height: 21px;
  transition: opacity 0.3s ease-in-out;
}
.card__content__txtandheart__icon-heart__gradient {
  display: block;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.card__content__txtandheart__icon-heart__white {
  opacity: 1;
}
.card__content__txtandheart__icon-heart:hover .card__content__txtandheart__icon-heart__white {
  opacity: 0;
}
.card__content__txtandheart__icon-heart:hover .card__content__txtandheart__icon-heart__gradient {
  opacity: 1;
}
.card__content__txtandheart__title {
  margin: 0 0 1% 4%;
}
.card__content__txtandheart__subtitle {
  margin: 0 0 0 4%;
  font-weight: 300;
}

/***********/
/***Pages***/
/***********/
/**Main High**/
.main__high {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 25px;
  width: 100%;
  height: auto;
  justify-content: center;
  box-sizing: border-box;
  padding: 40px 0px 50px 0px;
}
@media (min-width: 1024px) {
  .main__high {
    padding: 25px 0px 25px 0px;
  }
}
.main__high h2 {
  margin: 0;
  box-sizing: border-box;
  padding: 0px 45px 0px 45px;
}
@media (min-width: 1024px) {
  .main__high h2 {
    font-size: 40px;
  }
}
.main__high p {
  margin: 0;
  padding: 0px 5px 0px 5px;
}
@media (min-width: 1024px) {
  .main__high p {
    font-size: 18px;
  }
}
.main__high__btn-dark-pink {
  width: 186px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(0deg, #9356dc, #ff79da);
  border-style: none;
  color: #ffffff;
  font-weight: 500;
}
.main__high__btn-dark-pink:hover {
  opacity: 75%;
}

/***Main Center***/
.main__center {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  box-sizing: border-box;
  gap: 25px;
  padding: 40px 0px 50px 0px;
}
@media (min-width: 1024px) {
  .main__center {
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
}
.main__center h2 {
  margin: 0 4% 0 4%;
}
@media (min-width: 1024px) {
  .main__center h2 {
    margin: 0;
    width: 75%;
  }
}
.main__center__band-boutton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: 0 4% 0 4%;
}
@media (min-width: 1024px) {
  .main__center__band-boutton {
    display: flex;
    flex-direction: row;
    margin: 0;
    width: 73%;
    justify-content: space-between;
  }
}
.main__center__boutton {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  border-style: none;
  display: flex;
  justify-content: center;
  height: 72.38px;
  width: 322.49px;
  align-items: center;
  position: relative;
}
.main__center__boutton p {
  font-weight: 500;
}
.main__center__boutton__circle-number {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: -10px;
  color: #ffffff;
}
.main__center__boutton__icon-texte {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 12%;
  align-items: center;
  margin-left: 10%;
  font-weight: 500;
}
.main__center__boutton__icon-texte i {
  font-size: 18px;
}
.main__center__band-boutton .main__center__boutton__icon-texte i {
  color: #7e7e7e;
}
.main__center__band-boutton .main__center__boutton__icon-texte:hover i {
  color: #9356dc;
}

/**** Main Down****/
.main__down {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  padding: 40px 0px 50px 0px;
  gap: 25px;
}
@media (min-width: 1024px) {
  .main__down {
    box-sizing: border-box;
    padding: 25px 0px 25px 0px;
  }
}
.main__down__title {
  width: 100%;
}
@media (min-width: 1024px) {
  .main__down__title {
    width: 75%;
    height: auto;
  }
}
.main__down__title h2 {
  margin: 0 4% 0 4%;
}
@media (min-width: 1024px) {
  .main__down__title h2 {
    margin: 0;
  }
}
.main__down__cards {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
@media (min-width: 768px) {
  .main__down__cards {
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (min-width: 1024px) {
  .main__down__cards {
    flex-direction: row;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-between;
    margin: 0;
  }
}
.main__down__cards a {
  text-decoration: none;
  color: unset;
}
.main__down__card {
  width: 340px;
  height: 251px;
}
@media (min-width: 1024px) {
  .main__down__card {
    width: 45%;
  }
}

/***Main Restaurants***/
.main-background {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .main-background {
    align-items: center;
    background-color: #ffffff;
  }
}

/***Main Image***/
.main-image {
  width: 100%;
  height: 275px;
}
@media (min-width: 768px) {
  .main-image {
    height: 375px;
  }
}
@media (min-width: 1024px) {
  .main-image {
    height: 500px;
  }
}
.main-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/***Main Menu***/
.main-menu-centre {
  background-color: transparent;
  box-sizing: border-box;
  height: auto;
}
@media (min-width: 1024px) {
  .main-menu-centre {
    width: 73%;
  }
}

.main-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: #f6f6f6;
  position: relative;
  margin-top: -55px;
  gap: 15px;
}
.main-menu__entrees, .main-menu__plats, .main-menu__desserts {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 10px 10px 0px 10px;
  box-sizing: border-box;
  animation: appear 1s ease forwards;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.main-menu__entrees h2, .main-menu__plats h2, .main-menu__desserts h2 {
  font-weight: 300;
  font-size: 16px;
  border-bottom: solid 3px #99e2d0;
  width: 40px;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 8px;
}
.main-menu__bouton {
  margin: 40px 0;
  box-sizing: border-box;
}
.main-menu .menu-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.main-titre {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.main-titre__global {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 40px;
  padding: 0px 10px;
  padding-top: 32px;
}
.main-titre__h1 {
  font-family: "Shrikhand";
  font-weight: 400;
  font-style: italic;
  font-size: 28px;
  margin: 0;
}
.main-titre__icone-heart img {
  width: 22px;
  height: 21px;
  transition: opacity 0.3s ease-in-out;
}
.main-titre__icone-heart__gradient {
  display: block;
  opacity: 0;
  position: absolute;
  top: 40px;
}
.main-titre__icone-heart__white {
  opacity: 1;
}
.main-titre__icone-heart:hover .main-titre__icone-heart__white {
  opacity: 0;
}
.main-titre__icone-heart:hover .main-titre__icone-heart__gradient {
  opacity: 1;
}

/*# sourceMappingURL=styles.css.map */
