/*** Loader ***/
.loader {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: bk 3s ease-in forwards;
  -moz-animation: bk 3s ease-in forwards;
  /* Firefox */
  -webkit-animation: bk 3s ease-in forwards;
  /* Safari et Chrome */
  -o-animation: bk 3s ease-in forwards;
  /* Opera */
  &__spinner {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid var(--main-color); /* Couleur principale du loader */
    border-top-color: var(--secondary-color); /* Couleur du dessus du loader */
    border-bottom-color: var(--third-color); /* Couleur bas du loader */
    z-index: 1;
    animation: spin 3000ms ease-in forwards;
    -moz-animation: spin 3000ms ease-in forwards;
    /* Firefox */
    -webkit-animation: spin 3000ms ease-in forwards;
    /* Safari et Chrome */
    -o-animation: spin 3000ms ease-in forwards;
    /* Opera */
  }
}
