@use "../utils/variables" as vars;

/****Card des menus****/
.menu-card {
  &__content {
    background-color: vars.$color-white;
    border-radius: 15px;
    width: 349px;
    height: 69px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 4.01px 15.04px 0px #0000001a;
    overflow: hidden;
    transition: all 0.3s ease;
    &:hover &__validate {
      width: 59px;
      i {
        opacity: 1;
      }
    }
    &:hover &__stick {
      width: calc(100% - 59px);
    }

    @media (min-width: 1024px) {
      width: 638px;
    }
    &__stick {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 10px 15px;
      box-sizing: border-box;
      transition: all 0.3s ease;

      &__title {
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        h3 {
          margin: 0;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          font-weight: 500;
          font-size: 18px;
        }
      }
    }
    &__validate {
      width: 0px;
      height: 100%;
      background-color: vars.$third-color;
      border-radius: 0px 15px 15px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s ease;
      i {
        color: vars.$color-white;
        width: 20px;
        height: 20px;
        opacity: 0;
        transition: opacity 0.3s ease;
      }
    }
  }
  &__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    &__presentation {
      font-weight: 300;
      font-size: 15px;
      width: calc(100% - 37px);
      p {
        margin: 0;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
    &__tarif {
      width: 37px;
      height: 18px;
      text-align: center;
    }
  }
}
