* {
  font-family: "Roboto", sans-serif;
}

/***Body***/
body {
  background-color: $background-color-body;
  margin: 0;
}

.main-container {
  box-sizing: border-box;
  min-width: 345px;
  @include flex-column;
}
