/***Main Restaurants***/
.main-background {
  @include flex-column;
  @include breakpoint("Desktop") {
    align-items: center;
    background-color: $color-white;
  }
}

/***Main Image***/
.main-image {
  width: 100%;
  height: 275px;

  @include breakpoint("Tablet") {
    height: 375px;
  }
  @include breakpoint("Desktop") {
    height: 500px;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

/***Main Menu***/
.main-menu-centre {
  background-color: transparent;
  box-sizing: border-box;
  height: auto;
  @include breakpoint("Desktop") {
    width: 73%;
  }
}
.main-menu {
  @include flex-column-center;
  height: auto;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background-color: $background-color-body;
  position: relative;
  margin-top: -55px;
  gap: 15px;
  &__entrees,
  &__plats,
  &__desserts {
    @include flex-column;
    gap: 12px;
    padding: 10px 10px 0px 10px;
    box-sizing: border-box;
    animation: appear 1s ease forwards;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    h2 {
      font-weight: 300;
      font-size: 16px;
      border-bottom: solid 3px $third-color;
      width: 40px;
      text-transform: uppercase;
      margin-bottom: 0;
      padding-bottom: 8px;
    }
  }
  &__entrees {
    animation-delay: 0s;
  }
  &__plats {
    animation-delay: 1s;
  }
  &__desserts {
    animation-delay: 2s;
  }
  &__bouton {
    margin: 40px 0;
    box-sizing: border-box;
  }
  .menu-cards {
    @include flex-column-center;
    gap: 12px;
  }
}

.main-titre {
  width: 100%;
  height: auto;
  @include flex-row;
  justify-content: center;
  &__global {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 40px;
    padding: 0px 10px;
    padding-top: 32px;
  }
  &__h1 {
    font-family: $font-family-2;
    font-weight: 400;
    font-style: italic;
    font-size: 28px;
    margin: 0;
  }
  &__icone-heart {
    img {
      width: 22px;
      height: 21px;
      transition: opacity 0.3s ease-in-out;
    }
    &__gradient {
      display: block;
      opacity: 0;
      position: absolute;
      top: 40px;
    }
    &__white {
      opacity: 1;
    }
    &:hover .main-titre__icone-heart__white {
      opacity: 0;
    }
    &:hover .main-titre__icone-heart__gradient {
      opacity: 1;
    }
  }
}
