@use "../utils/variables" as vars;

.btn-dark-pink {
  width: 186px;
  height: 50px;
  border-radius: 25px;
  box-shadow: vars.$box-shadow-three;
  background: linear-gradient(0deg, vars.$main-color, vars.$secondary-color);
  border-style: none;
  color: vars.$color-white;
  font-weight: 500;
  &:hover {
    opacity: 75%;
  }
}
