/****Footer****/

footer {
  display: flex;
  flex-direction: column;
  height: auto;
  background-color: $background-color-footer;
  gap: 16px;
  padding: 22px 25px 22px 25px;
  box-sizing: border-box;
}
.footer__title {
  h1 {
    margin: 0;
    font-family: $font-family-2;
    font-weight: 400;
    font-style: italic;
    color: $color_1;
    font-size: 18px;
  }
}
.footer__text {
  display: flex;
  flex-direction: column;
  gap: 7px;
  a {
    color: $color_1;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    gap: 3%;
    align-items: center;
  }
}
.fa-utensils {
  color: $color_1;
  font-size: 12px;
  width: 11px;
}
.fa-handshake-angle {
  color: $color_1;
  font-size: 12px;
  width: 11px;
}
@media (min-width: 1024px) {
  footer {
    flex-direction: row-reverse;
    height: 114px;
    padding: 25px 30px 25px 30px;
    align-items: end;
  }
  .footer__text {
    flex-direction: row;
    width: 661px;
    a {
      display: inline;
    }
  }
}
