/****Footer****/
.footer {
  @include flex-column;
  height: auto;
  background-color: $background-color-footer;
  gap: 16px;
  padding: 22px 25px 22px 25px;
  box-sizing: border-box;
  @include breakpoint("Desktop") {
    flex-direction: row-reverse;
    height: 114px;
    padding: 25px 30px 25px 30px;
    align-items: end;
  }
  &__title h1 {
    margin: 0;
    font-family: $font-family-2;
    font-weight: 400;
    font-style: italic;
    color: #ffffff;
    font-size: 18px;
  }
  &__text {
    @include flex-column;
    gap: 7px;
    @include breakpoint("Desktop") {
      flex-direction: row;
      width: 661px;
    }
    a {
      color: #ffffff;
      text-decoration: none;
      font-size: 16px;
      @include flex-row;
      gap: 3%;
      align-items: center;

      @include breakpoint("Desktop") {
        display: inline;
      }
    }
  }
}
.fa-utensils,
.fa-handshake-angle {
  color: $color-white;
  font-size: 12px;
  width: 11px;
}
