/**** Header ****/

.header {
  @include flex-column;
  &__title {
    background-color: $color-white;
    @include flex-row;
    align-items: center;
    justify-content: center;
    height: 63px;
    width: 100%;
    box-shadow: $box-shadow-one;
    position: relative;

    &__logo img {
      width: 162px;
    }
    &__icone-arrow {
      width: 17px;
      height: 16px;
      position: absolute;
      left: 17px;
      top: 23px;
    }
  }
  &__localisation {
    @include flex-row;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    background-color: $color-grey-header;
    box-shadow: $box-shadow-two;
    gap: 5%;
    @include breakpoint("Desktop") {
      gap: 1.5%;
    }

    &__icone .fa-solid {
      color: $color-black;
    }
    p {
      margin: 0;
    }
  }
}
